@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-sidebar-background: hsl(220, 35%, 97%);
  --color-sidebar-border: hsla(220, 20%, 80%, 0.4);
}

body {
  color: var(--foreground);
  background: var(--background);
}
